.flexbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 4rem;
    margin-top: 2rem;

}

.post-card {
    all: unset;
    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: inherit;
}

.post-card:hover {
    transform: translateY(4px);
    box-shadow: 0 10px 15px -3px rgba(160, 31, 31, 0.1);
}

.post-card:active {
    transform: translateY(-2px);
}

.card-title {
    font-size: 1.4rem;
    font-weight: 1200;
    margin-bottom: 0.75rem;
    color: rgb(15, 22, 45);
}

.card-desc {
    font-size: 0.9375rem;
    color: rgb(160, 82, 45);
    display: -webkit-box;
    font-size: 15px;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.all-rights {
    text-align: center;
    font-size: 0.875rem;
    color: var(--text-muted);
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .flexbox-container {
        gap: 1.5rem;
    }

    .post-card {
        flex: 1 1 100%;
        padding: 1rem;
    }

    .card-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .flexbox-container {
        gap: 1rem;
    }

    .post-card {
        padding: 0.75rem;
    }
}